trunk/Apathy.xsd

<schema
  xmlns='http://www.w3.org/2000/10/XMLSchema'
  targetNamespace='http://www.w3.org/namespace/'
  xmlns:t='http://www.w3.org/namespace/'>

 <element name='Apathy'>
  <complexType/>
 </element>

 <element name='Sum'>
  <complexType/>
 </element>

 <element name='and'>
  <complexType>
   <attribute name='xmlns:xlink' type='string' use='fixed' value='http://www.w3.org/1999/xlink'/>
  </complexType>
 </element>

 <element name='apathy-game'>
  <complexType>
   <sequence>
    <element ref='t:book'/>
    <element ref='t:raw-data'/>
   </sequence>
   <attribute name='xmlns:xlink' type='string' use='required'/>
  </complexType>
 </element>

 <element name='bOff'>
  <complexType mixed='true'>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:plusminus'/>
   </sequence>
  </complexType>
 </element>

 <element name='bns'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='book'>
  <complexType>
   <sequence>
    <element ref='t:section' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='name' type='string' use='required'/>
  </complexType>
 </element>

 <element name='caption'>
  <complexType>
   <sequence>
    <element ref='t:text'/>
   </sequence>
  </complexType>
 </element>

 <element name='category'>
  <complexType>
   <sequence>
    <element ref='t:default' minOccurs='0' maxOccurs='1'/>
    <element ref='t:datum' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='name' type='string' use='required'/>
  </complexType>
 </element>

 <element name='cell'>
  <complexType>
   <sequence>
    <element ref='t:text' minOccurs='0' maxOccurs='1'/>
    <element ref='t:title' minOccurs='0' maxOccurs='1'/>
   </sequence>
   <attribute name='span' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='11'/>
      <enumeration value='12'/>
      <enumeration value='2'/>
     </restriction>
    </simpleType>
   </attribute>
  </complexType>
 </element>

 <element name='datum'>
  <complexType>
   <sequence>
    <element ref='t:field' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='name' type='string' use='required'/>
  </complexType>
 </element>

 <element name='default'>
  <complexType>
   <sequence>
    <element ref='t:field' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='name' type='string' use='fixed' value=''/>
  </complexType>
 </element>

 <element name='define'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='description'>
  <complexType>
   <sequence>
    <element ref='t:text'/>
   </sequence>
  </complexType>
 </element>

 <element name='description-list'>
  <complexType>
   <sequence>
    <element ref='t:item' maxOccurs='unbounded'/>
   </sequence>
  </complexType>
 </element>

 <element name='dollar'>
  <complexType/>
 </element>

 <element name='equation'>
  <complexType>
   <sequence>
    <element ref='t:text'/>
   </sequence>
  </complexType>
 </element>

 <element name='example'>
  <complexType>
   <sequence>
    <element ref='t:title'/>
    <element ref='t:text' maxOccurs='unbounded'/>
   </sequence>
  </complexType>
 </element>

 <element name='face'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='field'>
  <complexType>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:description-list'/>
    <element ref='t:example'/>
    <element ref='t:numbered-list'/>
    <element ref='t:text'/>
   </choice>
   <attribute name='title' use='optional'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='yes'/>
     </restriction>
    </simpleType>
   </attribute>
  </complexType>
 </element>

 <element name='figure'>
  <complexType>
   <sequence>
    <element ref='t:table'/>
    <element ref='t:caption'/>
   </sequence>
  </complexType>
 </element>

 <element name='footnote'>
  <complexType>
   <sequence>
    <element ref='t:text'/>
   </sequence>
  </complexType>
 </element>

 <element name='head'>
  <complexType>
   <sequence>
    <element ref='t:cell' maxOccurs='unbounded'/>
   </sequence>
   <attribute name='profile' type='string' use='fixed' value=''/>
  </complexType>
 </element>

 <element name='item'>
  <complexType>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:description-list'/>
    <element ref='t:equation'/>
    <element ref='t:example'/>
    <element ref='t:figure'/>
    <element ref='t:itemized-list'/>
    <element ref='t:note'/>
    <element ref='t:numbered-list'/>
    <element ref='t:reference'/>
    <element ref='t:section'/>
    <element ref='t:summarize'/>
    <element ref='t:table'/>
    <element ref='t:text'/>
    <element ref='t:title'/>
   </choice>
  </complexType>
 </element>

 <element name='itemized-list'>
  <complexType>
   <sequence>
    <element ref='t:item' maxOccurs='unbounded'/>
   </sequence>
  </complexType>
 </element>

 <element name='kind'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='ldquo'>
  <complexType/>
 </element>

 <element name='lsquo'>
  <complexType/>
 </element>

 <element name='math'>
  <complexType>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:mfrac'/>
    <element ref='t:mrow'/>
    <element ref='t:msup'/>
    <element ref='t:times'/>
   </choice>
   <attribute name='xmlns:xlink' type='string' use='fixed' value='http://www.w3.org/1999/xlink'/>
  </complexType>
 </element>

 <element name='mdash'>
  <complexType/>
 </element>

 <element name='mfrac'>
  <complexType>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:mi'/>
    <element ref='t:mn'/>
    <element ref='t:mrow'/>
   </choice>
   <attribute name='xmlns:xlink' type='string' use='fixed' value='http://www.w3.org/1999/xlink'/>
  </complexType>
 </element>

 <element name='mi'>
  <complexType mixed='true'>
   <attribute name='xmlns:xlink' type='string' use='fixed' value='http://www.w3.org/1999/xlink'/>
  </complexType>
 </element>

 <element name='mn'>
  <complexType mixed='true'>
   <attribute name='xmlns:xlink' type='string' use='fixed' value='http://www.w3.org/1999/xlink'/>
  </complexType>
 </element>

 <element name='mo'>
  <complexType mixed='true'>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:Sum'/>
    <element ref='t:times'/>
   </choice>
   <attribute name='xmlns:xlink' type='string' use='fixed' value='http://www.w3.org/1999/xlink'/>
  </complexType>
 </element>

 <element name='mrow'>
  <complexType>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:mfrac'/>
    <element ref='t:mi'/>
    <element ref='t:mn'/>
    <element ref='t:mo'/>
    <element ref='t:mrow'/>
    <element ref='t:msup'/>
    <element ref='t:munderover'/>
    <element ref='t:times'/>
   </choice>
   <attribute name='xmlns:xlink' type='string' use='fixed' value='http://www.w3.org/1999/xlink'/>
  </complexType>
 </element>

 <element name='msup'>
  <complexType>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:mfrac'/>
    <element ref='t:mi'/>
    <element ref='t:mn'/>
    <element ref='t:mrow'/>
   </choice>
   <attribute name='xmlns:xlink' type='string' use='fixed' value='http://www.w3.org/1999/xlink'/>
  </complexType>
 </element>

 <element name='mul'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='munderover'>
  <complexType>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:mo'/>
    <element ref='t:mrow'/>
   </choice>
   <attribute name='xmlns:xlink' type='string' use='required'/>
  </complexType>
 </element>

 <element name='ndash'>
  <complexType/>
 </element>

 <element name='notappl'>
  <complexType/>
 </element>

 <element name='note'>
  <complexType>
   <sequence>
    <element ref='t:text'/>
   </sequence>
  </complexType>
 </element>

 <element name='num'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='numbered-list'>
  <complexType>
   <sequence>
    <element ref='t:item' maxOccurs='unbounded'/>
   </sequence>
  </complexType>
 </element>

 <element name='oslash'>
  <complexType/>
 </element>

 <element name='ouml'>
  <complexType/>
 </element>

 <element name='percent'>
  <complexType/>
 </element>

 <element name='plusminus'>
  <complexType/>
 </element>

 <element name='rOff'>
  <complexType mixed='true'>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:plusminus'/>
   </sequence>
  </complexType>
 </element>

 <element name='raw'>
  <complexType mixed='true'>
  </complexType>
 </element>

 <element name='raw-data'>
  <complexType>
   <sequence>
    <element ref='t:category' maxOccurs='unbounded'/>
   </sequence>
  </complexType>
 </element>

 <element name='rdquo'>
  <complexType/>
 </element>

 <element name='reference'>
  <complexType>
   <attribute name='hrid' type='string' use='required'/>
  </complexType>
 </element>

 <element name='rightarrow'>
  <complexType/>
 </element>

 <element name='roll'>
  <complexType>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:bOff'/>
    <element ref='t:bns'/>
    <element ref='t:face'/>
    <element ref='t:kind'/>
    <element ref='t:mul'/>
    <element ref='t:num'/>
    <element ref='t:rOff'/>
    <element ref='t:raw'/>
   </choice>
  </complexType>
 </element>

 <element name='row'>
  <complexType>
   <sequence>
    <element ref='t:cell' minOccurs='0' maxOccurs='unbounded'/>
   </sequence>
  </complexType>
 </element>

 <element name='rsquo'>
  <complexType/>
 </element>

 <element name='section'>
  <complexType>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:description-list'/>
    <element ref='t:equation'/>
    <element ref='t:example'/>
    <element ref='t:figure'/>
    <element ref='t:itemized-list'/>
    <element ref='t:note'/>
    <element ref='t:numbered-list'/>
    <element ref='t:reference'/>
    <element ref='t:section'/>
    <element ref='t:summarize'/>
    <element ref='t:table'/>
    <element ref='t:text'/>
    <element ref='t:title'/>
   </choice>
   <attribute name='kind' use='required'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='chapter'/>
      <enumeration value='part'/>
      <enumeration value='section'/>
     </restriction>
    </simpleType>
   </attribute>
  </complexType>
 </element>

 <element name='summarize'>
  <complexType>
   <attribute name='hrid' type='string' use='required'/>
  </complexType>
 </element>

 <element name='table'>
  <complexType>
   <sequence>
    <element ref='t:head'/>
    <element ref='t:row' maxOccurs='unbounded'/>
   </sequence>
  </complexType>
 </element>

 <element name='text'>
  <complexType mixed='true'>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:Apathy'/>
    <element ref='t:and'/>
    <element ref='t:define'/>
    <element ref='t:dollar'/>
    <element ref='t:footnote'/>
    <element ref='t:itemized-list'/>
    <element ref='t:ldquo'/>
    <element ref='t:lsquo'/>
    <element ref='t:math'/>
    <element ref='t:mdash'/>
    <element ref='t:ndash'/>
    <element ref='t:notappl'/>
    <element ref='t:oslash'/>
    <element ref='t:ouml'/>
    <element ref='t:percent'/>
    <element ref='t:rdquo'/>
    <element ref='t:rightarrow'/>
    <element ref='t:roll'/>
    <element ref='t:rsquo'/>
    <element ref='t:trademark'/>
   </choice>
  </complexType>
 </element>

 <element name='times'>
  <complexType>
   <attribute name='xmlns:xlink' type='string' use='fixed' value='http://www.w3.org/1999/xlink'/>
  </complexType>
 </element>

 <element name='title'>
  <complexType>
   <sequence>
    <element ref='t:text'/>
   </sequence>
  </complexType>
 </element>

 <element name='trademark'>
  <complexType/>
 </element>
</schema>
